
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Michroma&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 3%, rgba(160, 51, 144, 1) 12%, rgba(253, 29, 29, 1) 39%, rgba(253, 94, 47, 1) 62%, rgba(252, 136, 58, 1) 83%, rgba(252, 176, 69, 1) 92%);
    /*background: linear-gradient(45deg, #280e0e, #3a4452);*/
}

.calculator{
    border: 1px solid #1e2229;
    padding: 20px;
    border:10px;
    border-radius: 90px ;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(0, 1, 3, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.1);
    border-radius: 10%;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #621050;
}

input::placeholder{
    color: #0b0a0bad;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 12px;
    border-radius: 80%;
    background: transparent;
    color: #170707;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #f87c00;
    color: rgb(238, 231, 229);
}

.operator{
    color: hsl(224, 54%, 34%);
}